In [1]:
import pandas as pd
import data_cleaner as clean

In [2]:
vaccine_coverage2018 = pd.read_csv("../data/UNICEF-VACCINE-COVERAGE-BY-ANTIGEN-2018.csv")
imr2018 = pd.read_csv("../data/UNICEF-IMR-2018.csv")

In [4]:
vaccine_coverage2018.dropna(how="all", axis=1, inplace=True)
clean.split_cols(vaccine_coverage2018, "REF_AREA:Geographic area")

imr2018.dropna(how="all", axis=1, inplace=True)
clean.split_cols(imr2018, "REF_AREA:Geographic area")

,DATAFLOW,INDICATOR:Indicator,SEX:Sex,TIME_PERIOD:Time period,OBS_VALUE:Observation Value,UNIT_MEASURE:Unit of measure,OBS_STATUS:Observation Status,LOWER_BOUND:Lower Bound,UPPER_BOUND:Upper Bound,OBS_FOOTNOTE:Observation footnote,AGE:Current age,REF_AREA,Geographic area
0,UNICEF:GLOBAL_DATAFLOW(1.0): Cross-sector indi...,CME_MRY0: Infant mortality rate,F: Female,2018,44.559440,D_PER_1000_B: Deaths per 1000 live births,A: Normal value,36.876155,52.432606,NaN,_T: Total,AFG,Afghanistan
1,UNICEF:GLOBAL_DATAFLOW(1.0): Cross-sector indi...,CME_MRY0: Infant mortality rate,M: Male,2018,51.347098,D_PER_1000_B: Deaths per 1000 live births,A: Normal value,42.559612,60.399456,NaN,_T: Total,AFG,Afghanistan
2,UNICEF:GLOBAL_DATAFLOW(1.0): Cross-sector indi...,CME_MRY0: Infant mortality rate,_T: Total,2018,48.043335,D_PER_1000_B: Deaths per 1000 live births,A: Normal value,39.944302,56.320057,NaN,_T: Total,AFG,Afghanistan
3,UNICEF:GLOBAL_DATAFLOW(1.0): Cross-sector indi...,CME_MRY0: Infant mortality rate,F: Female,2018,7.551900,D_PER_1000_B: Deaths per 1000 live births,A: Normal value,7.129561,7.995427,NaN,_T: Total,ALB,Albania
4,UNICEF:GLOBAL_DATAFLOW(1.0): Cross-sector indi...,CME_MRY0: Infant mortality rate,M: Male,2018,9.340910,D_PER_1000_B: Deaths per 1000 live births,A: Normal value,8.850254,9.885789,NaN,_T: Total,ALB,Albania
...,...,...,...,...,...,...,...,...,...,...,...,...,...
688,UNICEF:GLOBAL_DATAFLOW(1.0): Cross-sector indi...,CME_MRY0: Infant mortality rate,F: Female,2018,48.166960,D_PER_1000_B: Deaths per 1000 live births,A: Normal value,45.164760,52.840107,NaN,_T: Total,UNSDG_SUBSAHARANAFRICA,sub-Saharan Africa
689,UNICEF:GLOBAL_DATAFLOW(1.0): Cross-sector indi...,CME_MRY0: Infant mortality rate,M: Male,2018,58.012005,D_PER_1000_B: Deaths per 1000 live births,A: Normal value,54.543919,63.400718,NaN,_T: Total,UNICEF_SSA,sub-Saharan Africa
690,UNICEF:GLOBAL_DATAFLOW(1.0): Cross-sector indi...,CME_MRY0: Infant mortality rate,M: Male,2018,58.431596,D_PER_1000_B: Deaths per 1000 live births,A: Normal value,54.855567,63.981052,NaN,_T: Total,UNSDG_SUBSAHARANAFRICA,sub-Saharan Africa
691,UNICEF:GLOBAL_DATAFLOW(1.0): Cross-sector indi...,CME_MRY0: Infant mortality rate,_T: Total,2018,53.021824,D_PER_1000_B: Deaths per 1000 live births,A: Normal value,49.846879,57.927077,NaN,_T: Total,UNICEF_SSA,sub-Saharan Africa
692,UNICEF:GLOBAL_DATAFLOW(1.0): Cross-sector indi...,CME_MRY0: Infant mortality rate,_T: Total,2018,53.425611,D_PER_1000_B: Deaths per 1000 live births,A: Normal value,50.165521,58.511552,NaN,_T: Total,UNSDG_SUBSAHARANAFRICA,sub-Saharan Africa

In [5]:
imr2018.describe()

,TIME_PERIOD:Time period,OBS_VALUE:Observation Value,LOWER_BOUND:Lower Bound,UPPER_BOUND:Upper Bound
count,693.0,693.000000,693.000000,693.000000
mean,2018.0,21.710649,17.110511,28.182027
std,0.0,19.210807,15.193243,26.270889
min,2018.0,1.414661,0.753374,1.820345
25%,2018.0,6.130073,5.323662,7.106328
50%,2018.0,15.059466,11.651276,19.461561
75%,2018.0,32.959162,26.238920,42.513177
max,2018.0,90.088460,77.604252,149.127028

In [8]:
imr2018['OBS_FOOTNOTE:Observation footnote'].value_counts()

The mortality rates used as underlying data and shown as “VR submitted to WHO/UNIGME 2020 version (VR)” are calculated by UN IGME using standard methods with data from Rosstat.                                                                                                                3
The most recent national official estimates of neonatal, infant and under-five mortality rates in India are from the India Sample Registration System with a rate of 23, 32 and 36 deaths per 1,000 live births, respectively, in the year 2018.                                                3
The most recent national official estimates of neonatal, infant and under-five mortality rates in Zambia are from the 2018 Zambia Demographic and Health Survey (2018 ZDHS) with a rate of 27, 42 and 61 deaths per 1,000 live births, respectively, in the 5-year period before the survey.    3
Name: OBS_FOOTNOTE:Observation footnote, dtype: int64

In [6]:
vaccine_coverage2018.describe()

       TIME_PERIOD:Time period  OBS_VALUE:Observation Value
count                   2410.0                  2410.000000
mean                    2018.0                    84.536515
std                        0.0                    17.850578
min                     2018.0                     1.000000
25%                     2018.0                    80.000000
50%                     2018.0                    91.000000
75%                     2018.0                    97.000000
max                     2018.0                    99.000000